# TASK 5.1 GETTING STARTED WITH DATA SCIENCE AND PYTHON

**PYTHON EXPERIENCE**.

**1. Was it straightforward to install Python and all of the libraries?**: Installing Python was straightforward in Module 4. In general it's easy if jupyter notebooks is used. Jupyter notebookds can be searched as any software in Windows. When I run jupyter for second time, it didn't work; it was because I had to restart the kernel.

**2. Was the tutorial useful? Would you recommend it to others?**:I found very useful the tutorial of XLOT; but not the one for python. The first one was simple and with storytelling, the last one was a bit more difficult to comprehend: required more time. I will not recommend the tutorial but I rather recommend the "Python for DataScience for Dummies" as it uses methods such as thinking of variables as storage boxes.

**3. What are the main lessons you've learned from this experience?**: I learned from this experience to diminish fear to Python. My peers who are interested in DataScience, described Python as very difficult, the suggestions were before even writing a line of python, dominate rapidminer and R. But this experience was very grateful. In fact I find pythonn is an intuitive programming language. PD. I loved the markdown: it's incredible easy in comparison to R, and it's very neaty to see the output format while writing code.

**ERRORS / WARNING MESSAGES APPROACH**.

**The errors/warning messages encountered and how you overcame them(in form of markdown cells)**.
Summary: the errors encountered were most of the time of syntax.
What I did is for all the errors:
1. Read the error message, specially the last line.
2. Check that the original code from the exercise was well written. In case not, correct it and rerun.
3. Check if variables were not well named or or that code cells were not run.
4. Search in google the type of error even pasting the code, read forums, and try recommendations.

**An example of a .csv file (you can use one from courses 1-3) you've loaded to your Notebook**

In [3]:
import pandas as pd

In [5]:
csvfile = pd.read_csv('Data_One_Common_Wet_Files.csv')
csvfile

          id                                                url
0          0  http://pokemontrainertips.com/5-ways-how-emerg...
1          1  https://hackjr.pw/2018/03/28/download-voxel-3d...
2          2  http://www.appleiphone6.com/category/places-th...
3          3  http://rayd.krsc-junioren.de/android-emulator-...
4          4  http://pfes.gutachterbuero-niklas.de/lightburn...
...      ...                                                ...
23310  23310  https://www.notebookcheck.net/NVIDIA-GeForce-G...
23311  23311  https://app-wiringdiagram.herokuapp.com/post/m...
23312  23312               http://svk8me.20190911arzz.ks065.cn/
23313  23313  http://biometricsecurity.tech/download-1-episo...
23314  23314                                                NaN

[23315 rows x 2 columns]

**EXERCISES PART 3. PLAN OF ATTACK**

In [6]:
import math

In [8]:
math.pi

3.141592653589793

In [7]:
math.sqrt(25)

5.0

In [9]:
import math as mt

In [10]:
mt.sqrt(25) # "mt" instead of the module name math. It is used the new name when the module is used.

5.0

In [12]:
from numpy import random

In [50]:
import numpy as np

In [63]:
from scipy import stats

In [14]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [15]:
np.mean(dataOne)

0.4131756114633016

In [16]:
np.sum(dataOne)

10.32939028658254

In [17]:
dataOne[1:3]

array([[0.49101497, 0.38771961, 0.09522686, 0.8283136 , 0.15994525],
       [0.60616934, 0.71151548, 0.65447383, 0.02189551, 0.34479102]])

In [18]:
# Functions
# functionName()
print('I Love data Science')

I Love data Science

In [28]:
variableName = 25.0

In [20]:
variableName1 = 'I Love data Science'

In [21]:
print(variableName1)

I Love data Science

In [29]:
type(variableName)

float

In [23]:
varOne = 25

In [24]:
varTwo = 25.0

In [25]:
varThree = varOne + varTwo

In [26]:
print(varThree)

50.0

In [33]:
varOne = 25

In [34]:
varTwo = 'Hello'

In [36]:
varThree = varOne + varTwo # as it says the error message, the types are differente, therefore, cannot be sum up.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
print(varThree)#is the same past result 4 lines before because it didn't work.

50.0

In [39]:
# After looking in Google "typecasting in Python", the solutions is: a number can be converted into a string if you use the str() function.
varThree = str(varOne) + varTwo
print(varThree)

25Hello

In [41]:
# LISTS AND DICTIONARIES
# Structure: listName = [ ]
listOne = [1,2,3,4] # The numbers in the brackets are called elements. Each element can be of any type and can be referenced by their index

In [42]:
print(listOne[1:3])

[2, 3]

In [44]:
# DICTIONARIES. Example:
tel = {'jack': 4098, 'sape': 4139} # looks just like the .JSON 
tel['jack']

4098

In [52]:
# Define a variable that represents a dictionary with 5 INT elements
dict = [2,4,6,8,10]
print(dict)

[2, 4, 6, 8, 10]

In [55]:
np.fabs(dict) # fabs(x) Returns the absolute value of x

array([ 2.,  4.,  6.,  8., 10.])

In [57]:
np.sqrt(dict) # sqrt(x) Returns the square root of x

array([1.41421356, 2.        , 2.44948974, 2.82842712, 3.16227766])

In [62]:
np.cos(dict) # Returns the cosine of x

array([-0.41614684, -0.65364362,  0.96017029, -0.14550003, -0.83907153])

**TUTORIAL EXERCISES**.
These are instead of "python for dummies" Chapter 4 and 5, according to Whatsapp message.
Source: https://docs.python.org/3/tutorial/index.html

In [ ]:
quit() # to exit the kernel; note: "Shift+Enter" to run the code

In [1]:
# this is the first comment

spam = 1  # and this is the second comment
          # ... and now a third!
    
text = "# This is not a comment because it's inside quotes."

In [2]:
2+2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [10]:
5 ** 2  # 5 squared

25

In [11]:
2 ** 7  # 2 to the power of 7

128

In [12]:
width = 20
height = 5 * 9
width * height

900

In [13]:
n  # try to access an undefined variable outputs error:

NameError: name 'n' is not defined

In [14]:
4 * 3.75 - 1 # operators with mixed type operands convert to float

14.0

In [15]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [16]:
price + _ # "_" gives last printed expression: 12.565; NEVER assign a variable to this symbol

113.0625

In [17]:
round(_, 2) # rounds last expression with 2 decimals

113.06

In [18]:
## STRINGS
'spam eggs'  # single quotes

'spam eggs'

In [19]:
"doesn't"  # double quotes instead

"doesn't"

In [25]:
print("\\") # backslash Alt+92: Escape

\

In [37]:
print ('apple\norange') # "\t" is a tab, "\n" is a newline, and "\r" is a carriage return.

apple
orange

In [38]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [39]:
print('C:\some\name')  # here \n means newline

C:\some
ame

In [40]:
print(r'C:\some\name')  # note the r before the quote generates raw string between the quotes

C:\some\name

In [44]:
# strings can be multiple lines if 3 quotes are used; if not used these quotes; there's a syntex error
print(""" 
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [45]:
3 * 'un' + 'ium' # "*" is repeat times; "+" is concatenate

'unununium'

In [46]:
"big-""data" # other way to concatenate is just putting strings between quotes next to each other

'big-data'

In [49]:
print("This is useful to unite multiple lines just as this "
"in one single line printed")

This is useful to unite multiple lines just as this in one single line printed

In [1]:
## The last line only works with two literals though, not with variables or expressions:
prefix = 'Py'

In [2]:
prefix 'thon'  # can't concatenate a variable and a string literal; outputs error:
  File "<stdin>", line 1
    prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-2-a30ec5f79f0b>, line 1)

In [3]:
prefix + 'thon'# solution to last line: concatenate variables or a variable and a literal, use +

'Python'

In [7]:
word = 'Python'
word[0]  # character in position 0

'P'

In [8]:
word[5]  # character in position 5

'n'

In [9]:
# To start counting from the right, use negative numbers:
word[-1]  # last character

'n'

In [10]:
word[-2]  # second-last character

'o'

In [11]:
word[-6]

'P'

In [12]:
# Indexing is used to obtain individual characters, slicing allows you to obtain substring:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [13]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [14]:
# Start is always included, and the end always excluded. This makes sure that s[:i] + s[i:] is always equal to s:
word[:2] + word[2:]

'Python'

In [15]:
word[:4] + word[4:]

'Python'

In [16]:
# Slice defaults: an omitted first index defaults to zero, 
# an omitted second index defaults to the size of the string being sliced
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [17]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [18]:
word[-2:]  # characters from the second-last (included) to the end
# think of the indices as pointing between characters, with the left edge of the first character numbered 0

'on'

In [1]:
# For non-negative indices, the length of a slice is the difference of the indices, 
# if both are within bounds. For example, the length of word[1:3] is 2.

word[42]  # the word only has 6 characters; attempting to use an index that is too large will result in an error:

NameError: name 'word' is not defined

In [20]:
word[4:42] # range slice indexes handled gracefully when used for slicing

'on'

In [21]:
word[42:]

''

In [22]:
# Python strings cannot be changed â€” they are immutable.
# Assigning to an indexed position in the string results in an error:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [23]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [24]:
# When a different string is needed: create a new one
'J' + word[1:]

'Jython'

In [25]:
word[:2] + 'py'

'Pypy'

In [27]:
# Built-in function len() returns the length of a string:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [28]:
## LISTS
# List: compound data type used to group together other values; comma-separated values (items) between square brackets.
# Usually the items all have the same type
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [29]:
# Lists can be indexed and sliced:
squares[0]  # indexing returns the item

1

In [30]:
squares[-1]

25

In [31]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [32]:
# Slice operations return a new list containing the requested elements. (shallow copy of the list:)
squares[:]

[1, 4, 9, 16, 25]

In [34]:
# Concatenation in lists
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# String: immutable, Lists: mutable (can change their content)
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [39]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [42]:
# append() method: to add new items at the end of the list
cubes.append(216)  # add the cube of 6

In [44]:
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343, 216, 343, 343]

In [45]:
# Possible: Assignment to slices; this can even change the size of the list or clear it entirely:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [46]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [47]:
letters[2:5] = ['C', 'D', 'E'] # replace some values

In [48]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [49]:
letters[2:5] = [] # now remove the values

In [50]:
letters

['a', 'b', 'f', 'g']

In [51]:
letters[:] = [] # clear the list by replacing all the elements with an empty list

In [52]:
letters

[]

In [53]:
# len() also applies to lists:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [54]:
#  Nest lists (create lists containing other lists):
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [55]:
x[0]

['a', 'b', 'c']

In [56]:
x[0][1]

'b'

In [86]:
## First Steps Towards Programming
# Fibonacci series: # the sum of two elements defines the next
a, b = 0, 1

In [87]:
while a < 10:
     print(a)
     a, b = b, a+b

0
1
1
2
3
5
8

In [61]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [75]:
a, b = 0, 1
while a < 1000:
     print(a, end=',')
     a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [90]:
## IF Statements
x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [91]:
 if x < 0:
     x = 0
     print('Negative changed to zero')
 elif x == 0:
     print('Zero')
 elif x == 1:
     print('Single')
 else:
     print('More')

More

In [94]:
# FOR Statements
# Measure some strings:
words = ['cat', 'window', 'defenestrate']

In [95]:
for w in words: # Pythonâ€™s FOR statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [5]:
# Strategy:  Iterate over a copy
 for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
 active_users = {}
 for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [100]:
# The range() Function
for i in range(5):
     print(i)

0
1
2
3
4

In [101]:
for i in range(5):
     print(i)

0
1
2
3
4

In [106]:
for i in range(5,10):
     print(i)

5
6
7
8
9

In [107]:
for i in range(0, 10, 3):
     print(i)

0
3
6
9

In [108]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

In [109]:
for i in range(len(a)):
     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [112]:
print(range(10))

range(0, 10)

In [113]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [118]:
list(range(4))

[0, 1, 2, 3]

In [119]:
for n in range(2, 10):
     for x in range(2, n):
         if n % x == 0:
             print(n, 'equals', x, '*', n//x)
             break
     else:
         # loop fell through without finding a factor
         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [120]:
for num in range(2, 10):
     if num % 2 == 0:
         print("Found an even number", num)
         continue
     print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [122]:
while True:
     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

KeyboardInterrupt:

In [124]:
class MyEmptyClass:
     pass

In [125]:
 def initlog(*args):
     pass   # Remember to implement this!

In [1]:
def fib(n):    # write Fibonacci series up to n
     a, b = 0, 1
     while a < n:
         print(a, end=' ')
         a, b = b, a+b
     print()

In [2]:
fib(2000) # Now call the function we just defined:

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [3]:
fib

In [4]:
f = fib

In [5]:
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [6]:
fib(0)

In [7]:
print(fib(0))

None

In [8]:
def fib2(n):  # return Fibonacci series up to n
     """Return a list containing the Fibonacci series up to n."""
     result = []
     a, b = 0, 1
     while a < n:
         result.append(a)    # see below
         a, b = b, a+b
     return result

In [9]:
f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [10]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [11]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [12]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [13]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [14]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [15]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [18]:
#  the following calls would be invalid:
parrot() # required argument missing

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [28]:
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-28-b18b24da62fc>, line 1)

In [29]:
parrot(110, voltage=220) # duplicate value for the same argument

TypeError: parrot() got multiple values for argument 'voltage'

In [30]:
parrot(actor='John Cleese')  # unknown keyword argument

TypeError: parrot() got an unexpected keyword argument 'actor'

In [31]:
 def function(a):
     pass

In [32]:
function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [33]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [34]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [37]:
## Special parameters
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
      -----------    ----------     ----------
        |             |                  |
        |        Positional or keyword   |
        |                                - Keyword only
         -- Positional only
# where / and * are optional.
# If / and * are not present in the function definition.
# POSITIONAL-OR-KEYWORD ARGUMENTS
# If / and * are not present in the function definition, arguments may be passed to a function by position or by keyword.
# KEYWORD-ONLY ARGUMENTS
# To mark parameters as keyword-only, indicating the parameters must be passed by keyword argument, place an * in the arguments list just before the first keyword-only parame

In [122]:
# FUNCTION EXAMPLES
def standard_arg(arg):
     print(arg)

In [123]:
standard_arg(2)

2

In [85]:
standard_arg(arg=2)

2

In [133]:
def pos_only(arg, /):
     print(arg)

In [126]:
pos_only_arg(1)

1

In [127]:
pos_only_arg(arg=1)

1

In [128]:
def kwd_only_arg(*, arg):
     print(arg)

In [147]:
def combined_example(pos_only, standard,/, *, kwd_only):
    print(pos_only, standard, kwd_only)

In [135]:
kwd_only_arg(3) # outputs an error; remember "*" before

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [136]:
kwd_only_arg(arg=3)

3

In [137]:
combined_example(1, 2, 3) # ouputs error

NameError: name 'combined_example' is not defined

In [140]:
combined_example(1, 2, kwd_only=3)

1 2 3

In [141]:
combined_example(1, standard=2, kwd_only=3)

1 2 3

In [142]:
combined_example(pos_only=1, standard=2, kwd_only=3)

1 2 3

In [149]:
def foo(name, **kwds):
    return 'name' in kwds

In [150]:
foo(1, **{'name': 2}) # There is no possible call that will make it return True as the keyword 'name' will always to bind to the first parameter

TypeError: foo() got multiple values for argument 'name'

In [160]:
def foo(name,/, **kwds):
   return 'name' in kwds

In [157]:
foo(1, **{'name': 2})

In [161]:
# The use case will determine which parameters to use in the function definition:
# def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

In [162]:
# ARBITRARY ARGUMENT LISTS
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [163]:
def concat(*args, sep="/"):
     return sep.join(args)

In [164]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [165]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [166]:
list(range(3, 6)) # normal call with separate arguments

[3, 4, 5]

In [167]:
args = [3, 6]

In [168]:
list(range(*args)) # call with arguments unpacked from a list

[3, 4, 5]

In [169]:
def parrot(voltage, state='a stiff', action='voom'):
     print("-- This parrot wouldn't", action, end=' ')
     print("if you put", voltage, "volts through it.", end=' ')
     print("E's", state, "!")

In [170]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [171]:
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [172]:
# Lambda Expressions
def make_incrementor(n):
     return lambda x: x + n

In [173]:
f = make_incrementor(42)

In [174]:
f(0)

42

In [175]:
f(1)

43

In [176]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [178]:
pairs.sort(key=lambda pair: pair[1])

In [179]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [180]:
# Documentation Strings
def my_function():
     """Do nothing, but document it.

     No, really, it doesn't do anything.
     """
     pass

In [181]:
print(my_function.__doc__)

Do nothing, but document it.

     No, really, it doesn't do anything.

In [183]:
# Function Annotations
def f(ham: str, eggs: str = 'eggs') -> str:
     print("Annotations:", f.__annotations__)
     print("Arguments:", ham, eggs)
     return ham + ' and ' + eggs

In [185]:
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [186]:
# DATA STRUCTURES
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [187]:
fruits.count('apple')

2

In [188]:
fruits.count('tangerine')

0

In [189]:
fruits.index('banana')

3

In [190]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [191]:
fruits.reverse()

In [192]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [193]:
fruits.append('grape')

In [194]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [195]:
fruits.sort()

In [196]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [197]:
fruits.pop()

'pear'

In [199]:
# Using Lists as Stacks
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [200]:
stack.pop()

7

In [201]:
stack

[3, 4, 5, 6]

In [202]:
stack.pop()

6

In [203]:
stack.pop()

5

In [204]:
stack

[3, 4]

In [210]:
# Using Lists as Queues
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")  # Terry arrives
queue.append("Graham") # Graham arrives
queue.popleft() # The first to arrive now leaves

'Eric'

In [211]:
queue.popleft() # The second to arrive now leaves

'John'

In [212]:
queue # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [214]:
# List Comprehensions
squares = []
for x in range(10):
     squares.append(x**2)

In [215]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [216]:
squares = list(map(lambda x: x**2, range(10)))

In [217]:
squares = [x**2 for x in range(10)]

In [218]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [220]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [221]:
vec = [-4, -2, 0, 2, 4]

In [222]:
[x*2 for x in vec]# create a new list with the values doubled

[-8, -4, 0, 4, 8]

In [223]:
[x for x in vec if x >= 0]# filter the list to exclude negative numbers

[0, 2, 4]

In [224]:
[abs(x) for x in vec] # apply a function to all the elements

[4, 2, 0, 2, 4]

In [227]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']# call a method on each element
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [228]:
[(x, x**2) for x in range(6)] # create a list of 2-tuples like (number, square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [229]:
[x, x**2 for x in range(6)] # the tuple must be parenthesized, otherwise an error is raised

SyntaxError: invalid syntax (<ipython-input-229-a251c2f67449>, line 1)

In [230]:
vec = [[1,2,3], [4,5,6], [7,8,9]] # flatten a list using a listcomp with two 'for'
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [231]:
from math import pi # List comprehensions can contain complex expressions and nested functions:

In [232]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [233]:
# Nested List Comprehensions
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [234]:
[[row[i] for row in matrix] for i in range(4)] # The following list comprehension will transpose rows and columns

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [235]:
transposed = []

In [236]:
for i in range(4):
     transposed.append([row[i] for row in matrix])

In [237]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [238]:
transposed = [] # is the same as the last lines
for i in range(4):
     # the following 3 lines implement the nested listcomp
     transposed_row = []
     for row in matrix:
         transposed_row.append(row[i])
     transposed.append(transposed_row)

In [239]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [240]:
list(zip(*matrix)) # In the real world, you should prefer built-in functions to complex flow statements

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [242]:
## The del statement
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [243]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [245]:
del a[:]
a

[]

In [246]:
del a # del can also be used to delete entire variables

In [248]:
## Tuples and Sequences
t = 12345, 54321, 'hello!'
t[0]

12345

In [249]:
t

(12345, 54321, 'hello!')

In [250]:
u = t, (1, 2, 3, 4, 5) # Tuples may be nested
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [252]:
t[0] = 88888 # Tuples are immutable; this is why this error is displayed

TypeError: 'tuple' object does not support item assignment

In [255]:
v = ([1, 2, 3], [3, 2, 1]) # tuples can contain mutable objects

In [256]:
v

([1, 2, 3], [3, 2, 1])

In [258]:
empty = ()
singleton = 'hello',# <-- note trailing comma
len(empty)

0

In [259]:
len(singleton)

1

In [260]:
singleton

('hello',)

In [261]:
x, y, z = t

In [262]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # show that duplicates have been removed

{'pear', 'apple', 'banana', 'orange'}

In [263]:
'orange' in basket # fast membership testing

True

In [264]:
'crabgrass' in basket

False

In [265]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [266]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [267]:
a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [268]:
a & b # letters in both a and b

{'a', 'c'}

In [269]:
a ^ b # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [271]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [273]:
## Dictionaries
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [274]:
tel['jack']

4098

In [275]:
del tel['sape']

In [276]:
tel['irv'] = 4127

In [277]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [278]:
list(tel)

['jack', 'guido', 'irv']

In [279]:
sorted(tel)

['guido', 'irv', 'jack']

In [280]:
'guido' in tel

True

In [281]:
'jack' not in tel

False

In [282]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [283]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [284]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [285]:
# Looping techniques
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

In [286]:
for i, v in enumerate(['tic', 'tac', 'toe']):
     print(i, v)

0 tic
1 tac
2 toe

In [287]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [288]:
for i in reversed(range(1, 10, 2)):
     print(i)

9
7
5
3
1

In [290]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
     print(f)

apple
banana
orange
pear

In [291]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
     if not math.isnan(value):
         filtered_data.append(value)

In [292]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [293]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [294]:
# Comparing Sequences and Other Types
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True